@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-noto-sans-kr), var(--font-roboto), sans-serif;
  background-color: #16171d; /* 어두운 배경색 */
  color: white; /* 기본 글자색 */
}

.bg-sports-header {
  @apply bg-green-700;
}

.bg-sports-content {
  @apply bg-green-600;
}

.bg-sports-footer {
  @apply bg-green-700;
}

.bg-content-gradient {
  @apply bg-gradient-to-b from-gray-800 to-gray-900;
}